<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href=" {{url_for('static', filename= 'view.css')}} " />
</head>

<header>
    <ul>
        <li><a href="{{url_for('logpage')}}">Log</a></li>
        <li><a href="{{url_for('info')}}">Info</a></li>
        <li><a href="{{url_for('loginpage')}}">Login</a></li>
    </ul>
    <h1>Viewing entry with ID: {{entry_id}}</h1>
</header>

<body>
    <div class="entry">
        <h1>{{date}}</h1>
        <p>{{text}}</p>
    </div>
</body>

</html>